.button {
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.04);
}

.red{
  color: red;

}
.green{
  color: green;
}
.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex: 1 1 0;
}